<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<H1>Enter a new movie</H1>
<form action="/enter_movies" method="post">
    Title: <input type="text" name="title"/><br>
    Year: <input type="text" name="year" /><br>
    IMDB: <input type="text" name="imdb"/><br>
    <input type="submit" value="Submit"/>

</form>

<form action="/movies" method="post">
    <p>get movies</p>
    <input type="submit" value="Get Movies"/>
</form>

</body>
</html>