<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Fruit Picker</title>
</head>
<body>

<form action="/favorite_fruit" method="post">
    <p>What is your favorite fruit?</p>



{% for fruit in fruits %}

<p>
    <input type="radio" name="fruit" value="{{fruit}}">{{fruit}}</p></input>
</p>

{% endfor %}

    <input type="submit" value="Submit" />

</form>

<form action="/movies" method="post">
    <p>get movies</p>
    <input type="submit" value="Get Movies"/>
</form>

</body>
</html>